<div class="newsletter-card-container">
  <div class="newsletter-content-container">
    <div class="newsletter-content-wrapper">
      <h3 class="newsletter-content-title">Revolut Blog!</h3>
      <p class="newsletter-content-description">
        Get insights and updates on our newest on efficient payments, and
        upcoming features by email. You can unsubscribe at any time. Join our
        community, you’ll love it.
      </p>
    </div>

    <div class="newsletter-forms">
      <div [hidden]="submitted && newsletterForm.valid">
        <form
          [formGroup]="newsletterForm"
          class="newsletter-form"
          id="newsletterForm"
          (ngSubmit)="submitNewsletterForm()"
        >
          <label for="name" class="pb-2">Name </label>
          <input
            class="input"
            type="text"
            id="name"
            placeholder="Your name"
            formControlName="name"
            [class.is-danger]="getValidation('name') === 'error'"
            [class.is-success]="getValidation('name') === 'success'"
          />
          <p class="help is-danger" *ngIf="getValidation('name') === 'error'">
            {{ formErrorMessage["name"].errorMessage }}
          </p>
          <div
            class="help is-success"
            *ngIf="getValidation('name') === 'success'"
          >
            {{ formErrorMessage["name"].successMessage }}
          </div>

          <label for="Email" class="pb-2">Email </label>
          <input
            class="input"
            type="email"
            id="email"
            placeholder="Your Email"
            formControlName="email"
          />
          <p class="help is-danger" *ngIf="getValidation('email') === 'error'">
            {{ formErrorMessage["email"].errorMessage }}
          </p>
          <p
            class="help is-success"
            *ngIf="getValidation('email') === 'success'"
          >
            {{ formErrorMessage["email"].successMessage }}
          </p>

          <div class="submitButton">
            <button
              class="button is-small is-rounded"
              [disabled]="newsletterForm.invalid"
              type="submit"
            >
              Subscribe
            </button>
          </div>
        </form>
      </div>
      <div
        *ngIf="submitted && newsletterForm.valid"
        class="thank-you message is-success"
      >
        <div class="message-body">Thank you for your submission!</div>
      </div>
    </div>
  </div>
  <div class="newsletter-image-wrapper"></div>
</div>
