<div class="newsletter-card-container">
  <div class="newsletter-content-container">
    <div class="newsletter-content-description">
      <h3 class="newsletter-content-title">Revolut Blog!</h3>
   <form action=""></form>
    </div>

    <div class="newsletter-forms">
        
      <label for="name">Name</label>
      <input class="input is-medium" type="text" placeholder="Your name" />

      <br />
      <br />
      <label for="Email">Email</label>
      <input class="input is-medium" type="text" placeholder="Your Email" />
      <br />
      <br />
      <button class="button is-rounded">Subscribe</button>
    </div>
  </div>
  <div class="newsletter-image-wrapper">
    <img
      class="newsletter-image"
      src="./../assets/UK Press kits5.png"
      alt="revolut card"
    />
  </div>
</div>
