@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.newsletter {
  &-card-container {
    margin: 0 20px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    background: #fff 50%;
    // min-height: 300px;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.08),
      0 0.5rem 0.75rem rgba(0, 0, 0, 0.14);
    transition: all 0.2s ease;
    // max-height: 600px;

    // display: flex;
    // width: 1280px;
    height: 551px;
    // padding: 0px 30px;
    align-items: center;
  }
  &-content-container {
    padding-left: 0;
    flex: 1;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 0;
    height: 551px;
  }
  &-content-title {
    font-size: 2rem;
    font-weight: 500;
    padding-bottom: 24px;
    color: #363636;
  }
  &-content-wrapper {
    padding-left: 40px;
  }
  &-content-description {
    padding-bottom: 16px;
    flex: 1;
    padding-right: 40px;

    padding-top: 16px;
    color: #a0a6ad;
  }
  &-forms {
    padding-right: 40px;
    padding-left: 40px;
    // padding-top: 40px;
    // max-height: 10%;
    label {
      padding-bottom: 16px;
    }
    input {
      max-width: 100%;
      width: 100%;
      background: #edeff2;
      border-radius: 12px;

      // border: nones;
      //  margin: 8px;
    }

    input:focus {
      box-shadow: none;
    }
    input::after {
      max-height: 20px;
    }
    .submitButton {
      padding-top: 16px;
    }
    button {
      background-color: #191c1f;
      color: #fff;
      font-family: Roboto, -apple-system, Helvetica Neue, Helvetica, Segoe UI,
        Arial, sans-serif;
      cursor: pointer;
      border-radius: 1.2rem;
      border: none;
    }
    button:active button:focus {
      border: none;
    }
  }
  &-image-wrapper {
    width: 100%;
    // width: 780px;
    height: 552px;
    order: 1;
    flex: 2;
    flex-shrink: 0;
    background: url("../../assets/UK\ Press\ kits5.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  &-image {
    // display: block;
    // overflow: visible;
    // height: unset;
    //  object-fit: scale-down;
  }
  @media only screen and (max-width: 869px) {
    &-content-container {
      flex: 2;
      padding-right: 24px;
    }
    &-content-wrapper {
    

      padding-right: 0px;
    }
    &-content-title {
      padding-bottom: 16px;
      padding-top: 24px;
    }
    &-image-wrapper {
      flex: 4;
    }
  }
  @media only screen and (max-width: 790px) {
    &-card-container {
      display: flex;

      height: 746px;
      flex-direction: column-reverse;
      min-height: 300px;
      overflow: hidden;
      margin: 0 20px 40px;
      background: #fff 50%;
      background-size: cover;
      border-radius: 0.25rem;
      box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.08),
        0 0.5rem 0.75rem rgba(0, 0, 0, 0.14);
      transition: all 0.2s ease;
    }
    &-content-container {
      flex: 2;
      padding-top: 0px;
      padding-bottom: 40px;
      padding-left: 0px;
      display: flex;
      flex-direction: column;
    }
  }
}
