<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
    />
    <link
      rel="icon"
      href="https://blog.revolut.com/content/images/size/w256h256/2020/03/R-1.png"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Newsletter</title>
  </head>
  <body class="home-template">
    <div class="site-wrapper">
      <div class="site-header outer no-cover">
        <div class="inner">
          <div class="header no-cover">
            <nav aria-label="main navigation">
              <a class="site-nav-logo" href="https://revolut.com">
                <img
                  src="./../assets/Revolut_Black.svg"
                  width="112"
                  height="28"
                  alt="Revolut"
                />
              </a>

              <div class="navbar-end">
                <div class="buttons">
                  <a class="button">
                    <strong>Get the app</strong>
                  </a>
                </div>
              </div>
            </nav>
          </div>

          <app-subscription-form></app-subscription-form>
          <!-- <app-user-forms></app-user-forms> -->
       
        </div>
      </div>
    </div>
  </body>
</html>

<router-outlet></router-outlet>
