<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
    />
    <link
      rel="icon"
      href="https://blog.revolut.com/content/images/size/w256h256/2020/03/R-1.png"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Newsletter</title>
  </head>
  <body class="home-template">
    <div class="site-wrapper">
      <div class="site-header outer no-cover">
        <div class="inner">
          <div class="header no-cover">
            <nav aria-label="main navigation">
              <a class="site-nav-logo" href="https://revolut.com">
                <img
                  src="./../assets/Revolut_Black.svg"
                  width="112"
                  height="28"
                  alt="Revolut"
                />
              </a>

              <div class="navbar-end">
                <div class="buttons">
                  <a class="button">
                    <strong>Get the app</strong>
                  </a>
                </div>
              </div>
            </nav>
          </div>

          <div class="site-header-content">
            <h1 class="site-title">Revolut blog</h1>
            <h2 class="site-description">
              Follow the Revolut blog for product announcements, feature
              updates, user stories, and technical posts about banking.
            </h2>
          </div>
          <app-subscription-form></app-subscription-form>
          <!-- <div class="newsletter-card-container">
            <div class="newsletter-content-container">
              <div class="newsletter-content-description">
                <h3 class="newsletter-content-title">Revolut Blog!</h3>
                <p>
                  Get insights and updates on our newest on efficient payments,
                  and upcoming features by email. You can unsubscribe at any
                  time. Join our community, you’ll love it.
                </p>
              </div>

              <div class="newsletter-forms">
                <label for="name">Name</label>
                <input class="input is-medium" type="text" placeholder="Your name" />
               
                <br />
                <br />
                <label for="Email">Email</label>
                <input
                  class="input is-medium"
                  type="text"
                  placeholder="Your Email"
                />
                <br />
                <br />
                <button class="button is-rounded">Subscribe</button>
              </div>
            </div>
            <div class="newsletter-image-wrapper">
              <img
                class="newsletter-image"
                src="./../assets/UK Press kits5.png"
                alt="revolut card"
              />
            </div>
          </div> -->
          <div class="site-header-content">
            <h1 class="site-title">Revolut blog</h1>
            <h2 class="site-description">
              Follow the Revolut blog for product announcements, feature
              updates, user stories, and technical posts about banking.
            </h2>
          </div>
        
        </div>
      </div>
    </div>
  </body>
</html>

<router-outlet></router-outlet>
